

.Navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;

    top: 0;
}

.logo a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    color: #FFFFFF;
}

.pages {
    display: flex;
    align-items: center;
}

.pages a {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    /* identical to box height, or 155% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 40px;
    color: #00D6B4;
}